/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@300&family=Lexend:wght@100..900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lexend", sans-serif;
    --secondary-font: "Indie Flower", cursive;
    --primary-color: #1d2d52; /* dark blues */
    --secondary-color: #526acd; /* beige */
    --highlight-color: #e4ce9f; /* carmel */
    --highlight-color-light: #d0dfed; /* pale blue */
}

/* Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-heading {
    display: none;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

.custom-btn {
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

/* Header */


.logo {
    max-width: 130px;
}

.nav-link {
    font-size: 20px;
    margin-top: 7px;
}

/* navbar styles */

nav {
    box-shadow: 0 2px 2px var(--primary-color);
}

.navbar-toggler-icon {
    width: 50px;
}

#head-nav {
    padding: 0px 8px;
    margin: 0px;
}

#btn-nav {
    border: 0;
    margin: 6px;
}

#book-btn {
    margin-top: 13px;
    margin: 10px;
}

.nav-link {
    margin-left: 12px;
    padding: 0;
}

.nav-item {
    color: var(--primary-color);
}

.nav-list {
    color: var(--primary-color);
}

/* main content */

.card-title, .card-text {
    color: var(--primary-color);
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}

.card {
    width: 100%;
    object-fit: cover;
}

.card-body > a {
    margin-bottom: 0px;
}

/* hero section */

.hero {
    margin-top: 70px;
    height: 600px;
    background: url(../images/site-images/farm/buildings/wf-hero-250-title-600x.webp) no-repeat center center/cover;
    width: 100%;
    position: relative;
}

/* testimonial */


/* footer */

footer {
    box-shadow: 0px -2px 0px var(--primary-color);
    margin-bottom: 2px;
}

#socials {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
}

.custom-icon {
    color: var(--secondary-color);
}

/* accommodation */

.carousel {
    width: 100%;
    position: relative;
}

.acc-carousel {
    background: no-repeat center/cover;
}

/* Media querie: tablets and larger (336px and up) */

@media screen and (min-width: 336px) {
    .hero {
        margin-top: 95px;
        height: 400px;
        background: url(../images/site-images/farm/buildings/wf-hero-336-title-600x.webp) no-repeat center center/cover;
        width: 100%;
        position: relative;
    }
}

/* Media querie: tablets and larger (576px and up) */

@media screen and (min-width: 576px) {
    .hero {
        margin-top: 95px;
        height: 500px;
        background: url(../images/site-images/farm/buildings/wf-hero-576-title-600x.webp) no-repeat center center/cover;
        width: 100%;
        position: relative;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
      }
      
      .card {
        flex: 1 0 auto;
      }

}

/* Media querie: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    
}
/* Media querie: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    .nav-link {
        margin-top: 60px;
        margin-left: 5px;
        padding: 0px;
    }

    #book-btn {
        margin-top: 50px;
    }

    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }

    .hero {
        margin-top: 95px;
        height: 500px;
        width: 100%;
        position: relative;
    }
}

/* booking */

#booking {
    margin-top: 70px;
}

/* success */

#success {
    margin-top: 70px;
}

/* Media querie: laptops and larger (993px and up) */
@media screen and (min-width: 993px) {
    .hero {
        margin-top: 95px;
        height: 500px;
        background: url(../images/site-images/farm/buildings/wf-hero-992-title-600x.jpg) no-repeat center center/cover;
        width: 100%;
        position: relative;
    }

}

/* Media querie: laptops and larger (1600px and up) */
@media screen and (min-width: 1600px) {
    .hero {
        margin-top: 95px;
        height: 600px;
        width: 100%;
        position: relative;
    }

    .card-img-top {
        width: 100%;
        height: 17vw;
        object-fit: cover;
    }
}

/* Media querie: laptops and larger (1800px and up) */
@media screen and (min-width: 1800px) {
    .hero {
        margin-top: 95px;
        height: 700px;
        width: 100%;
        position: relative;
    }
}

/* Media querie: laptops and larger (1920px and up) */
@media screen and (min-width: 1920px) {
    .hero {
        margin-top: 95px;
        height: 800px;
        width: 100%;
        position: relative;
    }
}