/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@300&family=Lexend:wght@100..900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lexend", sans-serif;
    --secondary-font: "Indie Flower", cursive;
    --primary-color: #4b3a35; /* arbutus */
    --secondary-color: #bdb0a4; /* beige */
    --highlight-color: #2d764c; /* forest */
    --highlight-color-light: #a4b8cb; /* pale blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

.section {
    background-color: #bdb0a4;
}