/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@300&family=Lexend:wght@100..900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lexend", sans-serif;
    --secondary-font: "Indie Flower", cursive;
    --primary-color: #100b2d; /* dark blues */
    --secondary-color: #c69e78; /* beige */
    --highlight-color: #c6aa6e; /* carmel */
    --highlight-color-light: #d0dfed; /* pale blue */
}

/* Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden-heading {
    display: none;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

/* Header */

.logo {
    max-width: 130px;
}

.nav-link {
    font-size: 20px;
    margin-top: 7px;
}

/* navbar styles */

.navbar-toggler-icon {
    width: 50px;
}

#head-nav {
    padding: 0px 8px;
    margin: 0px;
}

#btn-nav {
    border: 0;
    margin: 6px;
}

#book-btn {
    margin-top: 13px;
    margin: 10px;
}

/* main content */

main {
    margin-top: 20px;
}

/* hero section */

.hero {
    margin-top: 70px;
    height: 600px;
    background: url(../images/site_images/Farm/buildings/wern-fawr-manor-farm-ta-2.webp) no-repeat center center/cover;
    width: 100%;
    position: relative;
}

/* Media querie: tablets and larger (336px and up) */
@media screen and (min-width: 336px) {

}

/* Media querie: tablets and larger (576px and up) */
@media screen and (min-width: 576px) {

}

/* Media querie: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

}
/* Media querie: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

}